:root {
  --color-dark: #011c44;
  --color-brand: #2b7fff;
  --font-brand: Play;
  --font-Ptext: Roboto;
}

h1 {
  font-family: var(--font-brand);
}

h2 {
  font-family: var(--font-brand);
}

p {
  font-family: var(--font-Ptext);
}

ul {
  list-style-type: none;
}

body {
  color: var(--color-dark);
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-dark);
}

/* active - при нажатии */
.button:active {
  background: grey;
  border: grey;
}

.link {
  color: var(--color-dark);
  text-decoration: none;
}

/* hover - при наведении */
.link:hover {
  color: var(--color-brand);
}

/* HERO TITLE  */
.hero-title {
  color: var(--color-brand);
  font-family: var(--font-brand);
  font-size: 140px;
}

/* TRANSFORN TO  */
.main-title {
  color: var(--color-dark);
  font-size: 64px;
  text-align: left;
}
.main-title span {
  color: var(--color-brand);
}

.main-txt {
  color: var(--color-dark);
}

/* WHY PPL CHOSE US */
.advantages-title {
  color: var(--color-dark);
  text-align: center;
  font-size: 64px;
}

.advantages-title span {
  color: var(--color-brand);
}

/* OUR PROCEDURES */
.procedures-title {
  color: var(--color-dark);
  text-align: center;
  font-size: 64px;
}

.procedures-title span {
  color: var(--color-brand);
}
.procedures-txt {
  color: white;
}

/* HOW  TO FIND US */
.htfus-title {
  color: var(--color-dark);
  text-align: center;
  font-size: 64px;
}
.htfus-title span {
  color: var(--color-brand);
}
.footer-inf {
  color: white;
}
.data-color {
  color: #747272;
}
