:root {
  --color-dark: #011c44;
  --color-brand: #2b7fff;
}

ul {
  list-style-type: none;
}

.button {
  color: #ffffff;
  border-radius: 32px;
  background: var(--color-brand);
  border: 2px solid var(--color-brand);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-dark);
}

/* active - при нажатии */
.button:active {
  background: grey;
  border: grey;
}

.link {
  color: var(--color-dark);
}

/* hover - при наведении */
.link:hover {
  color: var(--color-brand);
}

.hero-title {
  color: var(--color-brand);
}
.main-title {
  color: var(--color-dark);
}
.main-title span {
  color: var(--color-brand);
}

.main-txt {
  color: var(--color-dark);
}

/* .main-txt .accent{
  
} */

.advantages-title {
  color: var(--color-dark);
}

.advantages-title span {
  color: var(--color-brand);
}

.procedures-title {
  color: var(--color-dark);
}

.procedures-title span {
  color: var(--color-brand);
}
.procedures-txt {
  color: white;
}
.htfus-title {
  color: var(--color-dark);
}
.htfus-title span {
  color: var(--color-brand);
}
.footer-inf {
  color: white;
}
.data-color {
  color: #747272;
}
